@charset "UTF-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Nanum Gothic';
}
h1{
	margin: 0px;
	padding: 0px;
}
h2{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
section{
	text-align: center;
}
.font-color-main {
	color: #40210f;
}
.font-color-white {
	color: #FFFFFF;
}

.section-warp {
	width: 100%;
}

@media (max-width: 767px ) {
	.logo {
		width: 100%;
		height: calc(13vw - 2.5vw);
		padding-top: 2.5vw;
		font-size: 5vw;
		text-align: center;
		letter-spacing: 2px;
	}
	.logo h1 {
		font-size: 6.2vw;
	}
	.logo a:hover {
		color: #40210f;
		text-decoration: none;
	}
	.navigation {
		display: none;
	}
	.header-bg {
		background-image: url("../img/main_img_mobile.png");
		background-size: 100%;
		width: 100%;
		height:110vw;
	}
	.header-textbox {
		display: inline-block;
		margin-top: 45vw;
		width: 100%;
		height:66vw;
		background-color: #ffffff;
		color: #40210f;
		text-align: center;
	}
	.header-textbox h1 {
		font-size: 5vw;
		margin-top: 5vw;
		margin-bottom: 5vw;
		text-align: center;
	}
	.header-textbox p {
		font-size: 3.5vw;
		margin : 0px;
		padding-left: 10vw;
		padding-bottom: 1vw;
		text-align: left;
	}
	.header-textbox ul {
		padding: 0px;
		margin: 0px;
		margin-top: 5vw;
		display: inline-block;
	}
	.header-textbox li {
		float: left;
		padding-right: 1vw;
	}
	.header-textbox li .appstore {
		width: 40vw;
		height: 11.5vw;
		max-width: 168px;
		max-height: 48px;
		border:0px;
		background:url('../img/app_icon_b.png');
		background-size: 100%;
	}
	.header-textbox li .googleplay {
		width: 40vw;
		height: 11.5vw;
		max-width: 168px;
		max-height: 48px;
		border:0px;
		background:url('../img/google_icon_b.png');
		background-size: 100%;
	}
	.header-textbox li .appstore:hover {
		cursor: pointer;
	}
	.header-textbox li .googleplay:hover {
		cursor: pointer;
	}
	.section-slider-bg {
		width: 100%;
		display: inline-block;
		margin-top: 10vw;
		margin-bottom: 10vw;
	}
	.section-slider-bg h2 {
		font-size: 6vw;
		margin-bottom: 5vw;
	}
	.section-slider {
		width: 100%;
		display: inline-block;
	}	
	.slide-prev {
		float: left;
		width: 10vw;
		padding-top: 50vw;
		height: calc(90vw - 40vw);
		position: absolute;
	}
	.slide-prev img {
		content: url('../img/mobile_arrow_left.png');
	}
	.slide-next {
		float: left;
		width: 10vw;
		margin-left: 90vw;
		padding-top: 50vw;
		height: calc(90vw - 40vw);
		position: absolute;
	}
	.slide-next img {
		content: url('../img/mobile_arrow_right.png');
	}
	.slide-image {
		width: 100%;
		float: left;
		overflow: hidden;
	}
	.slide-image h3 {
		font-size: 5vw;
	}
	.slide-image p {
		font-size: 5vw;
	}
	.slide-image ul {
		width: 400%;
		margin: 0px;
		padding: 0px;
		transition:1s;
	}
	.slide-image li {
		float: left;
	}
	.slide-image img {
		width: 100vw;
	}
	.section-row {
		display: inline-block;
		width: 90%;
		margin-top: 15vw;
		text-align: center;
	}
	.section-row h2 {
		font-size: 5vw;
	}
	.section-row p {
		font-size: 3vw;
	}
	.section-header {
		margin-top: 8vw;
	}
	.section-content {
		width: 100%;

	}
	.section-content img {
		width: 100%;
	}	
	.contact-us{
		width: 100%;
		margin-top: 10vw;
		background-image: url(../img/contact_main.png);
		background-size: 200%;
		background-position: center;
		height: 88vw;
	}
	.contact-us-h2 {
		padding-top: 4.5vw;
    font-size: 6vw;
    color: #40210f;
    padding-bottom: 4.5vw;
	}
	.contact-us-p {
		padding: 0px;
		margin: 0px;
		font-size: 3.5vw;
		padding-bottom: 2.5vw;
		color: #40210f;
	}
	.contact-box {
		margin-top: 3vw;
		background-color: #40210f;
		display: inline-block;
		color: #FFFFFF;
		text-align: left;
		font-size: 3.5vw;
		padding-top: 2vw;
		padding-bottom: 2vw;
		padding-left: 4vw;
		padding-right: 4vw;
	}
	.contact-box img {
		height: 3vw;
		margin-right: 4vw;
	}
	.contact-footer {
		text-align: right;
		margin-top: 7vw;
		padding-right: 11vw;
	}
	.petnow-detail {
		width: 180px;
		height: 36px;
		border:0px;
		background:url('../img/petnow_icon.png');
		background-size: 100%;
	}
	.petnow-detail:hover {
		cursor: pointer;
	}
	.indulge {
		margin-top: 20vw;
		margin-bottom: 15vw;;
	}
	.indulge h2 {
		font-size: 8vw;
		color: #40210f;
		margin-bottom: 5vw;
	}
	.indulge h3 {
		font-size: 4vw;
		color: #40210f;
		margin: 1vw;
	}
	.indulge p {
		font-size: 3.5vw;
		color: #40210f;
		margin: 2vw;
	}
	.indulge-item1 {
		display: inline-block;
		width: 90%;
		height: calc(90vw - 70vw);
		padding-top: 70vw;
		background-image: url('../img/indulge1.png');
		background-size: 100%;
		margin-bottom: 6vw;
	}
	.indulge-item2 {
		display: inline-block;
		width: 90%;
		height: calc(90vw - 70vw);
		padding-top: 70vw;
		background-image: url('../img/indulge2.png');
		background-size: 100%;
		margin-bottom: 6vw;
		
	}
	.indulge-item3 {
		display: inline-block;
		width: 90%;
		height: calc(90vw - 70vw);
		padding-top: 70vw;
		background-image: url('../img/indulge3.png');
		background-size: 100%;
		margin-bottom: 6vw;
	}
	.footer-bg {
		width: 100%;
		background-color: #40210f;
		color: #FFFFFF;
		text-align: center;
		padding-top: 2vw;
		padding-bottom: 2vw;
		font-size: 2vw;
	}
}


@media (min-width: 768px ) and (max-width: 1279px ) {
	.logo {
		width: 100%;
		height: calc(100px - 20px);
		padding-top: 20px;
		text-align: center;
		letter-spacing: 2px;
	}
	.logo h1 {
		font-size: 3rem;
	}
	.logo a:hover {
		color: #40210f;
		text-decoration: none;
	}
	.navigation {
		display: none;
	}
	.header-bg {
		background-image: url("../img/main_img.png");
		background-size: cover;
		background-position: center center;
		height: 440px;
	}
	.header-textbox {
		display: inline-block;
		margin-left: 4rem;
		margin-top: 4rem;
		color: #FFFFFF;
	}
	.header-textbox h1 {
		font-size: 2rem;
		margin-bottom: 2.5rem;
	}
	.header-textbox p {
		font-size: 1rem;
		margin : 0px;
		padding-bottom: 0.5rem;
	}
	.header-textbox ul {
		padding: 0px;
		margin: 0px;
		margin-top: 2rem;
	}
	.header-textbox li {
		float: left;
		padding-right: 10px;
	}
	.header-textbox li .appstore {
		width: 165px;
		height: 46px;
		border:0px;
		background:url('../img/app_icon_w.png');
	}
	.header-textbox li .googleplay {
		width: 165px;
		height: 46px;
		border:0px;
		background:url('../img/google_icon_w.png');
	}
	.header-textbox li .appstore:hover {
		cursor: pointer;
	}
	.header-textbox li .googleplay:hover {
		cursor: pointer;
	}
	.section-slider-bg {
		width: 100%;
		display: inline-block;
		margin-top: 5rem;
		margin-bottom: 10rem;
	}
	.section-slider-bg h2 {
		font-size: 2rem;
		margin-bottom: 4rem;
		font-weight: 900;
	}
	.section-slider {
		width: 768px;
		display: inline-block;
	}	
	.slide-prev {
		float: left;
		width: 50px;
		padding-top: 90px;
		height: calc(205px - 90px);
		background-color: #ddcfaf;
	}
	.slide-next {
		float: left;
		width: 50px;
		padding-top: 90px;
		height: calc(205px - 90px);
		background-color: #ddcfaf;
	}
	.slide-image {
		width: calc(768px - 100px);
		height: 305px;
		float: left;
		overflow: hidden;
	}
	.slide-image h3 {
		font-size: 1.1rem;
	}
	.slide-image p {
		font-size: 1.1rem;
	}
	.slide-image ul {
		width: 890px;
		margin: 0px;
		padding: 0px;
		transition:1s;
	}
	.slide-image li {
		float: left;
		margin-left:14px;
	}
	.slide-image img {
		width: 205px;
	}
	.section-row {
		display: inline-block;
		width: 768px;
		margin-top: 5rem;
		margin-bottom: 5rem;
		text-align: center;

	}
	.section-row h2 {
		font-size: 1.5rem;
	}
	.section-row p {
		font-size: 1.1rem;
    	line-height: 1.7em;
	}
	.section-header {
		width: calc(100% - 320px - 4rem);
		margin-top: 6rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.section-left {
		float: left;
	}
	.section-right {
		float: right;
	}
	.section-content {
		width: 320px;

	}
	.section-content img {
		width: 320px;
	}
	.contact-us{
		margin-top: 10rem;
		background-image: url('../img/contact_main.png');
		background-size: cover;
		background-position: center center;
		height:550px
	}
	.contact-us-h2 {
		padding-top: 1.5rem;
		font-size: 2rem;
		color: #40210f;
		font-weight: 900;
		padding-bottom: 1.5rem;
	}
	.contact-us-p {
		padding: 0px;
		margin: 0px;
		font-size: 1.25rem;
		padding-bottom: 0.5rem;
		color: #40210f;
	}
	.contact-box {
		margin-top: 1rem;
		background-color: #40210f;
		display: inline-block;
		color: #FFFFFF;
		text-align: left;
		font-size: 1.3rem;
		padding: 2rem;
	}
	.contact-box img {
		height: 1rem;
		margin-right: 1rem;
	}
	.contact-footer {
		text-align: center;
		margin-top: 1rem;
		padding-left: 18rem;
	}
	.petnow-detail {
		width: 180px;
		height: 36px;
		border:0px;
		background:url('../img/petnow_icon.png');
		background-size: 100%;
	}
	.petnow-detail:hover {
		cursor: pointer;
	}
	.indulge {
		margin-top: 10rem;
		margin-bottom: 5rem;
	}
	.indulge h2 {
		font-size: 2rem;
		color: #40210f;
		font-weight: 900;
		margin-bottom: 2rem;
	}
	.indulge h3 {
		font-size: 1.5rem;
		color: #40210f;
	}
	.indulge p {
		font-size: 1rem;
		color: #40210f;
	}
	.indulge-item1 {
		display: inline-block;
		width: 230px;
		height: 0px;
		padding-top: 230px;
		background-image: url('../img/indulge1.png');
		background-size: 100%;
		margin: 0.5rem;
	}
	.indulge-item2 {
		display: inline-block;
		width: 230px;
		height: 0px;
		padding-top: 230px;
		background-image: url('../img/indulge2.png');
		background-size: 100%;
		margin: 0.5rem;
	}
	.indulge-item3 {
		display: inline-block;
		width: 230px;
		height: 0px;
		padding-top: 230px;
		background-image: url('../img/indulge3.png');
		background-size: 100%;
		margin: 0.5rem;
	}
	.footer-bg {
		width: 100%;
		height:130px;
		background-color: #40210f;
		color: #FFFFFF;
		text-align: center;
		padding-top: 10px;
		font-size: 1rem;
	}
}

@media (min-width: 1280px ){
	.logo {
		width: 100%;
		height: calc(100px - 20px);
		padding-top: 20px;
		text-align: center;
		letter-spacing: 2px;
	}
	.logo h1 {
		font-size: 3rem;
	}
	.logo a:hover {
		color: #40210f;
		text-decoration: none;
	}
	.navigation {
		background-image: url('../img/nav_bg.png');
		width: 50px;
		height: 163px;
		background-size: 100%;
		text-align: center;
		position: fixed;
		margin-left: 95vw;
		margin-top: calc(45vh - 100px);
	}
	.navigation input {
		display: none;
	}
	.navigation li {
		margin-top: 10px;
	}
	.navigation li:first-child {
		margin-top: 0px;
	}
	#navigation-home:hover~.navigation-home img {
		content: url('../img/nav_home.png');
	}
	#navigation-service:hover~.navigation-service img {
		content: url('../img/nav_service.png');
	}
	#navigation-sns:hover~.navigation-sns img {
		content: url('../img/nav_service.png');
	}
	#navigation-app:hover~.navigation-app img {
		content: url('../img/nav_app.png');
	}
	#navigation-contact:hover~.navigation-contact img {
		content: url('../img/nav_contact.png');
	}
	#navigation-indulge:hover~.navigation-indulge img {
		content: url('../img/nav_indulge.png');
	}
	.header-bg {
		background-image: url("../img/main_img.png");
		background-size: cover;
		background-position: center center;
		height: 740px;
	}
	.header-textbox {
		display: inline-block;
		margin-left: 10rem;
		margin-top: 8rem;
		margin-bottom: 10vw;
		color: #FFFFFF;
	}
	.header-textbox h1 {
		width: 19rem;
		font-size: 2rem;
		margin-bottom: 4rem;
	}
	.header-textbox p {
		font-size: 1.5rem;
		margin : 0px;
		padding-bottom: 1rem;
	}
	.header-textbox ul {
		padding: 0px;
		margin: 0px;
		margin-top: 1.5rem;;
	}
	.header-textbox li {
		float: left;
		padding-right: 20px;
	}
	.header-textbox li .appstore {
		width: 165px;
		height: 46px;
		border:0px;
		background:url('../img/app_icon_w.png');
	}
	.header-textbox li .googleplay {
		width: 165px;
		height: 46px;
		border:0px;
		background:url('../img/google_icon_w.png');
	}
	.header-textbox li .appstore:hover {
		cursor: pointer;
	}
	.header-textbox li .googleplay:hover {
		cursor: pointer;
	}	
	.section-slider-bg {
		width: 100%;
		display: inline-block;
		margin-top: 10rem;
		margin-bottom: 10rem;
	}
	.section-slider-bg h2 {
		font-size: 3rem;
		margin-bottom: 4rem;
	}
	.section-slider {
		width: 1280px;
		display: inline-block;
	}	
	.slide-prev {
		float: left;
		width: 72px;
		padding-top: 170px;
		height: calc(360px - 170px);
		background-color: #ddcfaf;
	}
	.slide-next {
		float: left;
		width: 72px;
		padding-top: 170px;
		height: calc(360px - 170px);
		background-color: #ddcfaf;
	}
	.slide-image {
		width: calc(1280px - 144px);
		height: 460px;
		float: left;
		overflow:hidden;
	}	
	.slide-image h3 {
		font-size: 1.3rem;
	}
	.slide-image p {
		font-size: 1.3rem;
	}	
	.slide-image ul {
		margin: 0px;
		padding: 0px;
		width:1514px;
		transition:1s;
	}
	.slide-image li {
		float: left;
		margin-left:14px;
	}
	.slide-image img {
		width: 360px;
	}
	.section-row {
		display: inline-block;
		width: 1280px;
		margin-top: 7rem;
		margin-bottom: 7rem;
		text-align: center;
	}
	.section-row h2 {
		font-size: 2.5rem;
	}
	.section-row p {
		font-size: 1.5rem;
	}
	.section-header {
		width: calc(100% - 500px - 6rem);
		margin-top: 13rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.section-left {
		float: left;
	}
	.section-right {
		float: right;
	}
	.section-content {
		width: 500px;
	}
	.section-content img {
		width: 500px;
	}
	.contact-us{
		margin-top: 10rem;
		background-image: url('../img/contact_main.png');
		background-size: cover;
		background-position: center center;
		height:35rem;
	}
	.contact-us-h2 {
		padding-top: 3rem;
		font-size: 3rem;
		color:#40210f;
		padding-bottom: 2rem;
	}
	.contact-us-p {
		padding: 0px;
		margin: 0px;
		font-size: 1.3rem;
		padding-bottom: 0.5rem;
		color:#40210f;
	}
	.contact-box {
		margin-top: 1rem;
		background-color: #40210f;
		display: inline-block;
		color:#FFFFFF;
		text-align: left;
		font-size: 1.2rem;
		padding: 2rem;
	}
	.contact-box img {
		height: 1rem;
		margin-right: 2rem;
	}
	.contact-footer {
		text-align: center;
		margin-top: 1.5rem;
		margin-left: 13.5rem;
	}
	.petnow-detail {
		width: 238px;
		height: 48px;
		border:0px;
		background:url('../img/petnow_icon.png');
		background-size: 100%;
	}
	.petnow-detail:hover {
		cursor: pointer;
	}
	.indulge {
		margin-top: 10rem;
		margin-bottom: 5rem;
	}
	.indulge h2 {
		font-size: 3.5rem;
		color: #40210f;
		margin-bottom: 2rem;
	}
	.indulge h3 {
		font-size: 1.5rem;
		color: #40210f;
	}
	.indulge p {
		font-size: 1rem;
		color: #40210f;
	}
	.indulge-item1 {
		display: inline-block;
		width: 305px;
		height: calc(308px - 19rem);
		padding-top: 19rem;
		background-image: url('../img/indulge1.png');
		background-size: 100%;
		margin: 0.5rem;
	}
	.indulge-item2 {
		display: inline-block;
		width: 305px;
		height: calc(308px - 19rem);
		padding-top: 19rem;
		background-image: url('../img/indulge2.png');
		background-size: 100%;
		margin: 0.5rem;
	}
	.indulge-item3 {
		display: inline-block;
		width: 305px;
		height: calc(308px - 19rem);
		padding-top: 19rem;
		background-image: url('../img/indulge3.png');
		background-size: 100%;
		margin: 0.5rem;
	}
	.footer-bg {
		width: 100%;
		height:130px;
		background-color: #40210f;
		color: #FFFFFF;
		text-align: center;
		padding-top: 10px;
		font-size: 1rem;
	}
}


.appicon {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.appicon li {
	float: left;
	padding-right: 1vw;
}
.appicon li .appstore {
	width: 40vw;
	height: 11.5vw;
	max-width: 168px;
	max-height: 48px;
	border:0px;
	background:url('../img/app_icon_b.png');
	background-size: 100%;
}
.appicon li .googleplay {
	width: 40vw;
	height: 11.5vw;
	max-width: 168px;
	max-height: 48px;
	border:0px;
	background:url('../img/google_icon_b.png');
	background-size: 100%;
}
.appicon li .appstore:hover {
	cursor: pointer;
}
.appicon li .googleplay:hover {
	cursor: pointer;
}








